<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEFAULT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='library_kamote.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- nav bar -->
    <div class="container-nav-bar">
        <h1>Recipe Share</h1>
        <h2 class="f2">|</h2>
        <h2 class="m-r-auto"> Welcome, {{ recipe.user_info.first_name }}</h2>
        <a href="/recipes" class="m-l-auto m-r1">All recipes</a>
        <a href="/logout">Logout</a>
    </div>

    <!-- main content -->
    <div class="view-main">

        <div class="container flex j-between a-end w-max m-0">
            <span class="m-b0">My Recipes:</span>
            <a href="/recipe-create" class="m-left-auto m-b0">+ Create New Recipe</a>
        </div>
        <!-- table -->
        <div class="container-recipes container br-1 w-max m-t-0">
            <table class="table m-b2">
                <thead>
                    <tr>
                        <th>Recipe Name</th>
                        <th>Under 30 Minutes?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% if user.recipes_list|length > 0 %}
                    {% for row in user.recipes_list %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ row.under_30 }}</td>
                        <td>
                            <div class="container-mini">
                                <a href="/recipes/{{ row.id }}">view recipe</a> | 
                                <a href="/recipes/edit/{{ row.id }}">edit</a> | 
                                <a href="/recipes/user/delete/{{ row.id }}">delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>


        
            
        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='library_kamote.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>